{% extends "base.html" %}

{% block body %}
<br><br>
<b><h1>운동 종류 선택</h1>
<h2 style="color: #7F7F7F;">원하는 종류의 운동을 선택하세요.</h2></b>
<br>
<div style="width: 80%;">
    <div class="taebo" style="float: left; width: 28%; padding-left: 20%; padding-right: 5%;">
        <img src="{{ url_for('static', filename='taebo.png') }}"
             onclick="location.href='{{ url_for('level') }}'" style="max-width: 100%; height: auto;">
    </div>
    <div class="dance" style="float: left; width: 28%;">
        <img src="{{ url_for('static', filename='dance.png') }}"
             onclick="location.href='{{ url_for('level') }}'" style="max-width: 100%; height: auto;">
    </div>
</div>
{% endblock body %}